.button_link_hero {
    margin-left: 21px;
}

.form_but_link_dwnld {
    height: 55px;
    line-height: 18px;
    padding: 0 33px;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #FF5274;
    border-radius: 40px;
    border: none;
}

.form_but_link_lrn {
    height: 55px;
    color: white;
    line-height: 18px;
    padding: 0 33px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #FF5274;
    border-radius: 40px;
}


.button_list {
    display: flex;
    flex-direction: row;
    margin-left: 260px; 
}

.form_but {
    color: white;
    line-height: 18px;
    padding: 0 33px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
}

.form_butt {
    margin-top: -5px;
    height: 35px;
    line-height: 18px;
    padding: 0 33px;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background: none;
    border-radius: 40px;
    border: 2px solid white;
}

.designed_button {
    margin-top: 266px;
    height: 41px;
    color: #FF5274;
    line-height: 18px;
    padding: 0 33px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #FF5274;
    border-radius: 40px;
}

.cus_but {
    margin-top: 88px;
    height: 55px;
    color: #FF5274;
    line-height: 18px;
    padding: 0 33px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #FF5274;
    border-radius: 40px;
}

.gallery_button {
    margin-top: 57px;
    height: 40px;
    color: #FF5274;
    line-height: 18px;
    padding: 0 33px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #FF5274;
    border-radius: 40px;    
}

.button__form {
    margin-top: -10px;
    height: 55px;
    width: 400px;
    color: white;
    line-height: 18px;
    padding: 0 33px;
    background: #FF5274;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}
