.customize {
    background-image: url(/img/background_cust.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom {
    margin-top: 99px;
    text-align: center;
}

.cus_h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    color: white;
}

.diamond {
    margin-top: 54px;
}

.but_cus :hover {
    opacity: 0.7;
}