.designed {
    background-image: url(/img/laptop.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    height: 530px;
    margin-top: 114px;
    margin-bottom: 124px;
}

.designed_head {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}

.designed_but :hover{
    opacity: 0.7;
}
