.head {
    background-size: cover;
    height: 750px;
    background-repeat: no-repeat;
    background-image: url(/img/Hero\ section.png);
}

.navigation {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: grey;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    margin-left: 210px;  
}

.navigation_link {
    display: flex;
    margin-left: 20px;
    text-transform: uppercase;
}

.navigation_link a {
    color: white;
    text-decoration: none;
}

.navigation_link :hover {
    opacity: 0.6;
} 