.head {
    background-size: cover;
    height: 750px;
    background-repeat: no-repeat;
    background-image: url(/img/Hero\ section.png);
}

.navigation {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: grey; /* Цвет линии внизу */
}

.navigation_list {
    display: flex;
    flex-direction: row;
    margin-left: 210px;  
}

.navigation_link {
    margin-left: 20px;
    text-transform: uppercase;
}

.navigation_link a {
    color: white;
    text-decoration: none;
}

.button_list {
    display: flex;
    flex-direction: row;
    margin-left: 260px; 
}

.form_but {
    color: white;
    line-height: 18px;
    padding: 0 33px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
}

.form_butt {
    margin-top: -5px;
    height: 35px;
    line-height: 18px;
    padding: 0 33px;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background: none;
    border-radius: 40px;
    border: 2px solid white;
}